# Auto detect text files and perform LF normalization
* text=auto
*.mat linguist-generated=true
*.asset linguist-generated=true
*.wlt linguist-generated=true
*.unity linguist-generated=true
*.meta linguist-generated=true